// Fonts


//colors

$orange: #ffa500;
$off-white: #f8f8f8;
$green:#57b846;
$blue:#1dfaf2;
$red:#ea4355;
$off-black : black;
$error-text: #F44336;
$good-text : #DAF7A6 ;

//Sizes

$xs:0.5rem;
$noraml: 1rem;
$sm:1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg:7rem;
//button 
$button-radius: 30px;


//breakpoints

$lg-breakpoint:1024px;
$md-breakpoint:768px;
$sm-breakpoint :641px;
$xs-breakpoint :480px;


//SHADOW
$shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;